<div mat-dialog-title>
  Users From
</div>
<form [formGroup]="usersForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="Ex. Ahmed" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Ex. Yasser" formControlName="lastName">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email"  formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="passwoord">
          </mat-form-field>
      </div>
      <div class="row">
          <p>
              Role
          </p>
          <mat-selection-list #Role (selectionChange)="onSelectionChange(Role)">
              <mat-list-option *ngFor="let Role of typesOfRoles" [value]="Role">
                  {{ Role }}
              </mat-list-option>
          </mat-selection-list>
      </div>
      <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
              <mat-label><b>Gender</b></mat-label>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="usersForm.invalid">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>