<div mat-dialog-title>
  Users From
</div>
<form [formGroup]="usersForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput type="text" placeholder="Ex. ahmedyasser" formControlName="userName">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Phone number</mat-label>
              <input matInput type="text" placeholder="Ex. 01066778899" formControlName="phoneNumber">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email"  formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
          </mat-form-field>
      </div>
      
      
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="usersForm.invalid">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>