<div mat-dialog-title>
    Users From
<div>
<form [formGroup]="usersForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput type="text" placeholder="Ex. Ahmed" formControlName="username">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="text" placeholder="Ex. 01012345678" formControlName="phoneNumber">
          </mat-form-field>
    </div> 
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex. ahmed@gamil.com" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
         
    </div> 
        
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="usersForm.invalid">Save</button>
</div>
</form> 